@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}

#root {
  display: flex;
  flex-direction: column;

  width: 100%;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  margin: 50px 0 40px;
}

.container {
  display: flex;
  padding: 32px;
  background-color: white;
  max-width: 920px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group .label span {
  font-size: 13px;
  color: #e17457;
}

.input-container {
  position: relative;
}

label {
  font-weight: 700;
  color: #5e7a7d;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  border: none;
  background-color: rgba(243, 249, 250, 1);
  font-size: 24px;
  padding: 10px 17.5px 10px 20px;
  position: relative;
  text-align: right;
  color: #00474b;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
}

input::placeholder {
  color: #00474b;
  opacity: 0.35;
}
.input:hover {
  outline: 2px solid #26c2ae;
}
.input-people:hover {
  outline: none;
}
.input.error {
  border: 1px solid #e17457;
}

.label {
  margin-bottom: 6px;
}

.input-container img {
  position: absolute;
  top: 50%;
  transform: translate(19.26px, -50%);
}

.tip-settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tip-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.tip-button {
  font-size: 24px;
  padding: 10px 14px 10px 13px;
  width: 146px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.tip-button.normal:hover {
  background-color: #26c2ae;
  color: #00474b;
}

.extra-label {
  margin-bottom: 16px;
}

.tip-button.normal {
  color: #fff;
  background-color: #00474b;
}

.tip-button.custom {
  text-align: right;
  color: #547878;
  background-color: #f3f9fa;
  outline: none;
  cursor: pointer;
}

.tip-button.active {
  background-color: #26c2ae;
  color: #00474b;
}

.active-border {
  outline: 2px solid #26c2ae;
}

.tip-button.custom:active,
.tip-button.custom:hover {
  outline: 2px solid #26c2ae;
}

.display {
  display: flex;
  flex-direction: column;
  background-color: #00474b;
  height: 100%;
  min-width: 327px;
  max-width: 413px;
  width: 100%;
  border-radius: 15px;
  padding: 39px 22px 24px 24px;
  gap: 35px;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information {
  font-weight: 700;
}
.information p {
  color: #fff;
}

.information span {
  color: #7f9d9f;
  font-size: 13px;
}

.amount {
  color: #26c2ae;
  font-size: 32px;
  font-weight: 700;
}

.reset-btn {
  font-size: 20px;
  color: #00474b;
  background: #26c2ae;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  height: 48px;
}

button:disabled {
  background-color: #0d686d;
  color: #00474b;
  opacity: 0.35;
}

@media screen and (min-width: 1000px) {
  #root {
    justify-content: center;
    align-items: center;
  }

  header {
    margin: 163px 0 87px;
  }

  .container {
    flex-direction: row;
    gap: 48px;
    padding: 32px 32px 32px 48px;
    border-radius: 25px;
  }
  .tip-settings {
    gap: 40px;
  }
  .tip-buttons {
    gap: 16px 14px;
  }

  .tip-button {
    width: 117px;
  }

  .row {
  }

  .amount {
    font-size: 48px;
  }

  .display {
    padding: 56px 40px 40px 40px;
    gap: 134px;
  }
}
